@import '../../assets/scss/abstract/mixins';
@import '../../assets/scss/abstract/variables';

.opera {
    width: 30rem;
    padding: 1rem .5rem;
    margin: 0 .5rem 2rem .5rem;
    border: 1px solid $black;
    border-radius: 5px;

    @include respond(md) {
        width: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__container-title {
        margin-bottom: 1rem;

        @include respond(md) {
            text-align: center;
        }
    }

    &__container-image {
        width: 100%;
        margin-bottom: 1rem;
    }

    &__image {
        width: 100%;
    }
}
