@import '../../assets/scss/abstract/mixins';

.opere {

    &__container-title {
        margin: 2rem auto;
        text-align: center;
    }

    &__container-opere {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-wrap: wrap;
        margin: auto;

        @include respond(lg) {
            justify-content: center;
        }
    }
}
