@import '../../assets/scss/abstract/variables';

.button-link {
    font-size: 2rem;
    background-color: $red;
    color: $white;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        transform: translate(-2px, -2px);
        transition: all .3s;
        box-shadow: 2px 2px $black;
    }
}
