@import '../../assets/scss/abstract/variables';

.footer {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: $black;
    padding: 2rem;

    &__container-credits {
        text-align: center;
        color: $white;
    }

    &__heart {
        font-size: 3rem;
        color: $red-heart;
    }
}
